@for $i from 1 through 5 {
  @if $i == 5 {
    .br-r {
      border-radius: $i * 20%;
    }

    .bbrr-r {
      border-bottom-right-radius: $i * 1rem;
    }

    .btrr-r {
      border-top-right-radius: $i * 1rem;
    }

    .btlr-r {
      border-top-right-radius: $i * 1rem;
    }

    .bblr-r {
      border-top-right-radius: $i * 1rem;
    }
  } @else {
    .br-#{$i} {
      border-radius: $i * 1rem;
    }

    .bbrr-#{$i} {
      border-bottom-right-radius: $i * 1rem;
    }

    .btrr-#{$i} {
      border-top-right-radius: $i * 1rem;
    }

    .btlr-#{$i} {
      border-top-right-radius: $i * 1rem;
    }

    .bblr-#{$i} {
      border-top-right-radius: $i * 1rem;
    }
  }
}

.bt-red {
  border-top: 1px solid red;
}

.bt-pnk {
  border-top: 1px solid rgb(163, 12, 151);
}

.bt-orn {
  border-top: 1px solid orange;
}

.bt-pri {
  border-top: 1px solid cyan;
}

.bt-info {
  border-top: 1px solid blue;
}

.bt-light {
  border-top: 1px solid gray;
}

.bt-dark {
  border-top: 1px solid black;
}

.bt-dark {
  border-top: 1px solid white;
}


.bl-red {
  border-left: 1px solid red;
}

.bl-pnk {
  border-left: 1px solid rgb(163, 12, 151);
}

.bl-orn {
  border-left: 1px solid orange;
}

.bl-pri {
  border-left: 1px solid cyan;
}

.bl-info {
  border-left: 1px solid blue;
}

.bl-light {
  border-left: 1px solid gray;
}

.bl-dark {
  border-left: 1px solid black;
}

.bl-dark {
  border-left: 1px solid white;
}


.bb-red {
  border-bottom: 1px solid red;
}

.bb-pnk {
  border-bottom: 1px solid rgb(163, 12, 151);
}

.bb-orn {
  border-bottom: 1px solid orange;
}

.bb-pri {
  border-bottom: 1px solid cyan;
}

.bb-info {
  border-bottom: 1px solid blue;
}

.bb-light {
  border-bottom: 1px solid gray;
}

.bb-dark {
  border-bottom: 1px solid black;
}

.bb-dark {
  border-bottom: 1px solid white;
}


.br-red {
  border-right: 1px solid red;
}

.br-pnk {
  border-right: 1px solid rgb(163, 12, 151);
}

.br-orn {
  border-right: 1px solid orange;
}

.br-pri {
  border-right: 1px solid cyan;
}

.br-info {
  border-right: 1px solid blue;
}

.br-light {
  border-right: 1px solid gray;
}

.br-dark {
  border-right: 1px solid black;
}

.br-dark {
  border-right: 1px solid white;
}