.btn {
  font-size: 17px;
  padding: 2% 5% 2% 5%;
  margin: 4px 0 4px 0;
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
}

.btn-warning {
  background-color: orange;
  color: gray;
}

.warning-outline {
  border: 1px solid orange;
}

.btn-success {
  background-color: green;
  color: white;
}

.success-outline {
  border: 1px solid green;
}

.btn-primary {
  background-color: rgb(8, 201, 235);
  color: white;
}

.primary-outline {
  border: 1px solid rgb(8, 201, 235);
}


.btn-light {
  background-color: rgb(158, 154, 154);
  color: white;
}

.light-outline {
  border: 1px solid rgb(158, 154, 154);
}

.btn-dark {
  background-color: rgb(13, 13, 14);
  color: white;
}

.dark-outline {
  border: 1px solid black;
}

.btn-danger {
  background-color: rgb(243, 34, 7);
  color: white;
}

.danger-outline {
  border: 1px solid rgb(243, 34, 7) !important;
}

.btn-pink {
  background-color: rgb(217, 9, 245);
  color: rgb(13, 13, 14);
}

.pink-outline {
  border: 1px solid rgb(217, 9, 245);
}
