body {
  margin: 0;
}

.flex-col {
  flex-direction: column;
}

.has-text-centered {
  text-align: center;
  align-content: center;
  width: 100%;
}

.is-fullwidth {
  width: inherit;
}

.submit {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  font-size: 17px;
  font-weight: 900;
  border: 1px solid rgb(9, 231, 194);
  border-radius: 7px;
  color: white;
  margin-bottom: 1.2rem;
  text-align: center;
  text-decoration: none;
}

.main {
  margin: 0;
}

.button {
  padding: 0.7rem 2.5rem 0.7rem 2.5rem;
  font-size: 17px;
  font-weight: 900;
  background-color: #000000;
  border: 1px solid rgb(9, 231, 194);
  border-radius: 7px;
  color: white;
  text-decoration: none;
}

/* ################ Styles for columns ################# */

$column: 12;

@for $i from 1 through $column {
  @if $column <= 11 {
    .column-#{$i} {
      width: (99% * ($i / $column));
      height: inherit;
      margin-right: 0 0.5% 0 0.5%;
    }
  } @else {
    .column-#{$i} {
      width: (100% * ($i / $column));
      height: inherit;
    }
  }
}

.columns {
  width: 100%;
  height: fit-content;
  display: flex;
}

.is-centered {
  align-self: center;
  justify-content: center;
}

/* ############ Styles for forms ############# */

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  text-shadow: 2px 2px rgb(203, 203, 206);

  .label {
    font-weight: 900;
  }

  .field {
    margin-bottom: 1.2rem;
  }

  .input {
    width: 100%;
    height: 4vh;
    border: 1px solid rgb(224, 222, 222);
    border-radius: 5px;
    font-size: 25px;
    padding-left: 0.5%;
  }

  .actions {
    width: 100%;

    .submit {
      padding: 0.7rem 2.5rem 0.7rem 2.5rem;
      font-size: 17px;
      font-weight: 900;
      border: 1px solid rgb(9, 231, 194);
      border-radius: 7px;
      color: white;
      margin-bottom: 1.2rem;
    }
  }
}

/* ####### Styles for card ######## */

.card {
  width: 94%;
  display: flex;
  border: 1px solid rgb(226, 222, 222);
  border-radius: 20px;
  padding: 0 3% 3% 0;
  box-shadow: 5px 10px rgb(233, 232, 232);

  .aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
    border: inherit;
    border-top-left-radius: inherit;
    font-family: 'Times New Roman', Times, serif;

    .aside-header {
      margin-top: 0%;
    }

    .aside-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-left: 10px;
      padding-left: 0;
    }
  }

  .body {
    display: flex;
    flex-direction: column;

    .card-header {
      font-weight: 900;
      text-align: center;
    }

    .card-content {
      width: 100%;
      margin-left: 0.9%;
    }

    .card-footer {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

.table {
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  background: #012b39;
  border: 1px solid rgb(133, 102, 102);
  border-radius: 10px;
  box-shadow: 5px 10px rgb(233, 232, 232);

  tr {
    th {
      width: inherit;
      // background-color: #000a0e;
      color: #e2b842;
      font-weight: 900;
      font-size: 19px;
      padding: 0.75em 1em;
      text-align: center;
    }

    td {
      color: #fff;
      padding: 0.65em 1em;
      text-align: center;
      font-weight: 600;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  tbody tr:nth-child(odd) {
    background: #e4a9a9;
    box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
    &:hover {
      background-color: #012b39;
      color: #000000 !important;
    }
  }

  tbody tr:nth-child(even) {
    &:hover {
      background-color: #e4a9a9;
      transition: all 0.1s ease-in-out;
      color: #e4a9a9;
    }
  }
}

/* ############ Nav bar styles ############# */
@media only screen and (min-width: 826px) {
  .nav-bar {
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    height: 70px;
    width: 100%;
    background-color: rgb(118, 233, 204);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
  
    .checkbox,
    .checkbox-lab {
      display: none;
    }
  
    .nav-start {
      grid-column: 1 / span 1;
      padding: 0;
      margin: 23px 0 0 0;
  
      p {
        padding: 0;
        margin: 0 0 0 20px;
        width: fit-content;
        text-shadow: 2px 2px rgb(189, 186, 186);
        font-weight: 900;
      }
  
      p::after {
        content: '';
        height: 7px;
        width: 0;
        display: block;
        background-color: ivory;
        border-radius: 2px;
      }
  
      p:hover::after {
        width: 100%;
        transition: width 0.2s ease-in-out;
      }
    }
  
    .mid-nav {
      grid-column: 2 / span 1;
      margin: 0;
      margin-top: 23px;
  
      ul {
        display: flex;
        padding: 0;
        margin: 0;
  
        li {
          list-style: none;
          padding: 0;
          margin: 0 auto 0 auto;
          font-family: 'Times New Roman', Times, serif;
          width: fit-content;
  
          a {
            text-decoration: none;
            color: black;
            width: fit-content;
            font-weight: 900;
            text-shadow: 2px 2px rgb(211, 210, 210);
          }
  
          a:hover::after {
            content: '';
            height: 7px;
            background-color: aliceblue;
            display: block;
            border-radius: 2px;
          }
        }
      }
    }
  
    .nav-end {
      grid-column: 3 / span 1;
      margin-top: 23px;
    }
  }
}

@media only screen and (max-width: 825px) {
  .nav-bar {
    all: initial;
    position: relative;
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
    height: 70px;
    width: 100%;
    background-color: rgb(118, 233, 204);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

    .checkbox {
      display: none;
    }

    .checkbox:checked ~ .mid-nav {
      display: block;
    }

    .checkbox:checked ~ .checkbox-lab > span {
      transform: rotate(45deg);
      transition: transform 0.4s ease-in-out;
    }

    .checkbox:checked ~ .checkbox-lab > span:hover {
      transform: rotate(180deg);
      transition: transform 0.7s ease-in-out;
    }

    .checkbox:checked ~ .checkbox-lab > span::after {
      transform: rotate(90deg);
      bottom: 0;
    }

    .checkbox:checked ~ .checkbox-lab > span::before {
      display: none;
    }

    .checkbox-lab {
      display: block;
      height: calc(70px - 23px);
      margin: 30px 0 0 20px;
      grid-column: 1 / span 1;
    }

    .checkbox-lab > span {
      content: '';
      display: block;
      background-color: ivory;
      width: 55px;
      height: 6px;
      position: relative;
    }

    .checkbox-lab > span::before {
      content: '';
      display: block;
      background-color: ivory;
      width: 55px;
      height: 6px;
      position: absolute;
      top: 13px
    }

    .checkbox-lab > span::after {
      content: '';
      display: block;
      background-color: ivory;
      width: 55px;
      height: 6px;
      position: absolute;
      bottom: 13px;
    }

    .nav-start {
      grid-column: 2/ span 1;
      padding: 0;
      margin: 23px 0 0 0;

      p {
        padding: 0;
        margin: 0 0 0 20px;
        width: fit-content;
        text-shadow: 2px 2px rgb(189, 186, 186);
        font-weight: 900;
      }

      p::after {
        content: '';
        height: 7px;
        width: 0;
        display: block;
        background-color: ivory;
        border-radius: 2px;
      }

      p:hover::after {
        width: 100%;
        transition: width 0.2s ease-in-out;
      }
    }

    .mid-nav {
      display: none;
      position: absolute;
      top: 100%;
      left: 0 !important;
      margin: 0;
      width: 100%;
      height: 90vh;
      background-color: rgb(13, 192, 192);
      z-index: 1;

      ul {
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
        height: 30%;
        margin-top: 30%;
        align-items: center;

        li {
          list-style: none;
          padding: 0;
          margin: 0 auto;
          width: fit-content;
          font-family: 'Times New Roman', Times, serif;

          a {
            text-decoration: none;
            color: black;
            width: fit-content;
            font-weight: 900;
            text-shadow: 2px 2px rgb(211, 210, 210);
          }

          a:hover::after {
            content: '';
            height: 7px;
            background-color: aliceblue;
            border-radius: 2px;
            display: block;
          }

        }
      }
    }

    .nav-end {
      grid-column: 3 / span 1;
      margin-top: 23px;
    }
  }
}

.img-rounded {
  border-radius: 50%;
}

@import url('./margins&paddings.scss');
@import url('./texts&backgrounds.scss');
@import url('./heights.scss');
@import url('./buttons.scss');
@import url('./carousel.scss');
@import url('./slidebtn.scss');
