.radio-container {
  width: 100%;
  height:20vh;
  background-color: rgb(185, 216, 216);
  padding: 5rem;

  .radio-btn,
  .radio-btn1 {
    display: none;
  }

  .second-label,
  .first-label {
    background-color: white;
    width: 6rem;
    height: 2rem;
    display: block;
    border-radius: 0.99rem;
    position: relative;

    span {
      background-color: black;
      width: 2rem;
      height: inherit;
      display: block;
      border-radius: inherit;
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .radio-btn:checked ~ .first-label > span {
    transform: translate(200%, 0);
    transition: transform 0.1s ease;
  }

  .radio-btn1:checked ~ .second-label,
  .radio-btn:checked ~ .first-label {
    background-color: orange;
    transition: background-color 0.1s ease;
  }

  .radio-btn1:checked ~ .second-label > span {
    transform: translate(200%, 0);
    transition: transform 0.1s ease;
  }
}