.has-text-center {
  text-align: center;
}

.text-upcase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-dark {
  color: #000000;
}

.text-pri {
  color: #00ffff;
}

.text-danger {
  color: #ff0000;
}

.text-success {
  color: #008000;
}

.text-warning {
  color: #ffa500;
}

.text-pink {
  color: #ff00ff;
}

.text-gray {
  color: #808080;
}

.text-light {
  color: #e6e6e6;
}

.text-info {
  color: #0000ff;
}

.shadow-red {
  text-shadow: 2px 2px #ff0000;
}

.shadow-blue {
  text-shadow: 2px 2px #0000ff;
}

.shadow-white {
  text-shadow: 2px 2px white;
}

.shadow-light {
  text-shadow: 2px 2px #dfdcdc;
}

.shadow-dark {
  text-shadow: 2px 2px #000;
}

.text-white {
  color: white;
  font-weight: 900;
  text-shadow: 2px 2px #343450;
  font-size: 25px;
  letter-spacing: 1px;
}

/*  ############# colors ############  */
.bg-dark {
  background-color: #000000;
}

.bg-light {
  background-color: #e6e6e6;
}

.bg-gray {
  background-color: #808080;
}

.bg-white {
  background-color: white;
}

/* ############# primary colors ###########   */
.bg-pri {
  background-color: #00ffff;
}

.bg-pri-light-1 {
  background-color: #1affff;
}

.bg-pri-light-2 {
  background-color: #4dffff;
}

.bg-pri-light-3 {
  background-color: #80ffff;
}

.bg-pri-light-4 {
  background-color: #b3ffff;
}

.bg-pri-light-5 {
  background-color: #e6ffff;
}

/* ######## primary dark colors */
.bg-pri-dark-1 {
  background-color: #001a1a;
}

.bg-pri-dark-2 {
  background-color: #004d4d;
}

.bg-pri-dark-3 {
  background-color: #008080;
}

.bg-pri-dark-4 {
  background-color: #00b3b3;
}

.bg-pri-dark-4 {
  background-color: #00cccc;
}

/* ################# Red backgounds ############### */
.bg-red {
  background-color: #ff0000;
}

.bg-red-light-1 {
  background-color: #ff3333;
}

.bg-red-light-2 {
  background-color: #ff4d4d;
}

.bg-red-light-3 {
  background-color: #ff8080;
}

.bg-red-light-4 {
  background-color: #ff9999;
}

.bg-red-light-5 {
  background-color: #ffcccc;
}

/* ########### red dark styles ############ */
.bg-red-dark-1 {
  background-color: #1a0000;
}

.bg-red-dark-2 {
  background-color: #4d0000;
}

.bg-red-dark-3 {
  background-color: #800000;
}

.bg-red-dark-4 {
  background-color: #b30000;
}

.bg-red-dark-5 {
  background-color: #e60000;
}

/* ########## orange backgrounds ########## */
.bg-orn {
  background-color: #ffa500;
}

.bg-orn-light-1 {
  background-color: #ffb833;
}

.bg-orn-light-2 {
  background-color: #ffc966;
}

.bg-orn-light-3 {
  background-color: #ffdb99;
}

.bg-orn-light-4 {
  background-color: #ffedcc;
}

.bg-orn-light-5 {
  background-color: #fff6e6;
}

/* ############# Orange dark ############### */
.bg-orn-dark-1 {
  background-color: #1a1100;
}

.bg-orn-dark-2 {
  background-color: #4d3200;
}

.bg-orn-dark-3 {
  background-color: #805300;
}

.bg-orn-dark-4 {
  background-color: #b37400;
}

.bg-orn-dark-5 {
  background-color: #e69500;
}

/* ############ Success colurs ############## */
.bg-suc {
  background-color: #008000;
}

.bg-suc-light-1 {
  background-color: #00b300;
}

.bg-suc-light-2 {
  background-color: #00ff00;
}

.bg-suc-light-3 {
  background-color: #4dff4d;
}

.bg-suc-light-4 {
  background-color: #99ff99;
}

.bg-suc-light-5 {
  background-color: #ccffcc;
}

/* ############# success dark colors ############## */
.bg-suc-dark-1 {
  background-color: #001a00;
}

.bg-suc-dark-2 {
  background-color: #003300;
}

.bg-suc-dark-3 {
  background-color: #004d00;
}

.bg-suc-dark-4 {
  background-color: #006600;
}

.bg-suc-dark-5 {
  background-color: #028502;
}

/* ############# Pink backgrounds ############ */
.bg-pnk {
  background-color: #ff00ff;
}

.bg-pnk-light-1 {
  background-color: #ff33ff;
}

.bg-pnk-light-2 {
  background-color: #ff66ff;
}

.bg-pnk-light-3 {
  background-color: #ff99ff;
}

.bg-pnk-light-4 {
  background-color: #ffb3ff;
}

.bg-pnk-light-5 {
  background-color: #ffe6ff;
}

/* ############ Pink dark colors ############# */
.bg-pnk-dark-1 {
  background-color: #1a001a;
}

.bg-pnk-dark-2 {
  background-color: #4d004d;
}

.bg-pnk-dark-3 {
  background-color: #800080;
}

.bg-pnk-dark-4 {
  background-color: #b300b3;
}

.bg-pnk-dark-5 {
  background-color: #cc00cc;
}

/* ############ Info background colors ########### */
.bg-info {
  background-color: #0000ff;
}

.bg-info-light-1 {
  background-color: #3333ff;
}

.bg-info-light-2 {
  background-color: #6666ff;
}

.bg-info-light-3 {
  background-color: #9999ff;
}

.bg-info-light-4 {
  background-color: #bdbdfd;
}

.bg-info-light-5 {
  background-color: #d0d0fa;
}

/* ############ Info dark styles ############### */
.bg-info-dark-1 {
  background-color: #000033;
}

.bg-info-dark-2 {
  background-color: #000066;
}

.bg-info-dark-3 {
  background-color: #000099;
}

.bg-info-dark-4 {
  background-color: #0303ca;
}

.bg-info-dark-5 {
  background-color: #0404d8;
}

/* ############ Gradients x-axis ############# */
.grdx-pnkl-orn {
  background: -webkit-gradient(linear, left top, right top, from(#cc99ff), to(#ff9966));
  background: linear-gradient(to right, #cc99ff 0%, #ff9966 100%);
}

.grdx-pri-orn {
  background: -webkit-gradient(linear, left top, right top, from(#66ffcc), color-stop(71%, #ff9933));
  background: linear-gradient(to right, #66ffcc 0%, #ff9933 71%);
}

.rrg-red-orn-grn {
  background-image: repeating-radial-gradient(red, yellow 10%, green 15%);
}

.rrg-red-orn-pri {
  background-image: repeating-radial-gradient(red, yellow 10%, cyan 15%);
}

.rrg-red-orn-pnk {
  background-image: repeating-radial-gradient(red, yellow 10%, #db08ca 15%);
}
/*# sourceMappingURL=texts&backgrounds.css.map */